.post-list-item
  .flex-container
    .avatar-wrapper
      = avatar_for(post.user, size: 40)
    .post-info
      %strong.pli-title= link_to post.title, post
      %br/
      %small.pli-username= link_to post.username, post.user
    - if post.picture?
      .pli-picture-wrapper
        = image_tag post.picture.url(:thumb)
